<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/msezgin/OneDrive - ENDAVA/Desktop/TechnoStudyProject/com.batch11_TestNG/src/test/java/day12"><classes><class name="day12.C01_DynamicDriver"><methods><include name="browserTest"/></methods></class></classes></test></suite>